{% extends 'eventhub/base.html' %}
{% block body_block  %}

<p>Welcome to EventHub!</p>




<p>This website aims to provide you with an events page that easily helps you create, share and find out about events that you are interested in.</p>

<p>The website will be separated into different categories; Music, Business, Social and Educational. you can either create an event or look for one in a particular area or category. You will be able to like and share events once you have made an account and from here, the website will be able to recommend events based on your previous interest (likes, shares and location). </p>

<p>On the other hand, if you want to create an event then you can fill in details about the event including whether to allow the event to be public or not. If you want your event to be private then you can set the page to only be viewed only by people invited by you. Once the event has passed, it will be deleted. </p>





{% endblock %}
