<!DOCTYPE html>



<html>


	<head>
		<title>
				{% block title_block %}
					EventHub!
				{% endblock %}
		</title>
		<h1>Welcom to EventHub</h1>
	</head>
	<body>

	<div>
		{% block body_block %}
		{% endblock %}
	</div>
		<hr />

		<div>
			<ul>
			{% if user.is_authenticated %}
				<li><a href="{% url 'auth_logout' %}?next=/eventhub/">Logout</a></li>
			{% else %}
				<li><a href="{% url 'auth_login' %}">Sign In</a></li>
				<li><a href="{% url 'registration_register' %}">Sign Up</a></li>
			{% endif %}
				<li><a href="/eventhub">index</a></li>
			</ul>
		</div>
	</body>
</html>
