<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!-- Include Required Prerequisites -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<script type="text/javascript" src="{% static 'js/csrfGetter.js' %}"></script>
</head>
<body style='height: auto;'>

	<!-- container div -->
	<div id="container">
		<!--- header div-->
		<div id="header">
			<nav class="navbar navbar-inverse" >
				<div class="container">

				<!-- logo -->
				<div class="navbar-header">
					<a href="{% url 'index' %}" class="navbar-brand">EventHub</a>
				</div>

				<!-- menu items-->
				<div>

					<ul class="nav navbar-nav navbar-top">
						<li class="{{active.0}}"><a href="{% url 'index' %}">Home</a></li>
						<li class="{{active.1}}"><a href="{% url 'about' %}">About</a></li>
						{% if user.is_authenticated %}
						<li class="{{active.2}}"><a href="{% url 'recommended' %}">Recommended</a></li>
						<li class="{{active.3}}"><a href="{% url 'create' %}">Create Event</a></li>
						{% endif %}
					</ul>

					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li class="{{active.4}}"><a href="{% url 'profile' %}">Profile</a></li>
						<li><a href="{% url 'auth_logout' %}?next={% url 'index' %}">Logout</a></li>
						{% else %}
						<li class="{{active.5}}"><a href="{% url 'auth_login' %}">Sign In</a></li>
						<li class="{{active.6}}"><a href="{% url 'registration_register' %}">Sign Up</a></li>
						{% endif %}
					</ul>
				</div>

				</div>
			</nav>

		</div><!--- header div end-->

		<!--content div-->
		<div id="content">
			<!--left-side-bar div-->
			<div id="leftsidebar">

				<!-- searchbar div-->
				<div>
					<h4>Serach bar</h4>
					<form>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
					<hr>
					</div><!-- searchbar div end-->

					<!-- searchby div-->
					<div>
						<h4>See All:</h4>
						Order by:
						<ul>
							<li><a href="/eventhub/search/date">Date</a></li>
							<li><a href="/eventhub/search/location">Location</a></li>
							<li>Category</a></li>
							<div>
								<ul>
									<li> <a href="/eventhub/category/music">Music</a> </li>
									<li> <a href="/eventhub/category/business">Business</a> </li>
									<li> <a href="/eventhub/category/social">Social</a> </li>
								</ul>
							</div>
						</ul>
				</div><!-- searchbar div end-->
			</div><!--left-side-bar div end-->
			<!-- main div-->
			<div id="main">

				{% block body_block %}
					this is the main div
				{% endblock %}

			</div><!-- main div end-->

			<!--right-side-bar div-->
			<div id="rightsidebar">
				<!-- media div-->
				<h4>Social Media</h4>
				<div id="icon">

					<!-- icon-->
					<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

					<!--icons -->
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-google"></a>

				</div><!-- media div end-->

				<!-- recently visited div-->
				<div class="clear">
					<hr>
					<h4>Recently Visited</h4>
					{% if recent %}
						<div>
							{% if events %}
								{% for event in events %}
									<h5><a href="/eventhub/event/{{ event.slug }}">{{ event.title }}</a></h5>
								{% endfor%}
							{% else %} <strong>There are no events present.</strong>
							{% endif %}<!-->search by date, all events, each event needs a picture and title<-->
						</div>
					{% endif %}
				</div><!-- recent div end-->
			</div><!--right-side-bar div end-->


		</div><!--content div end-->

		<!-- footer div -->
		<div class="clear" id="footer" >
			<nav class="navbar navbar-inverse" >
				<div class="container">
				<!-- menu items-->
				<div>
					<ul class="nav navbar-nav navbar-top">
						<li><a href="/eventhub/contact">contact us</a></li>
					</ul>
				</div>
				</div>
			</nav>
		</div><!-- footer div end -->



	</div> <!--container div end-->


</body>
</html>
