{% extends 'eventhub/base.html' %}
{% block body_block  %}

<h1>Create An Event!</h1>

<div class="form-group">
  <label for="event_title">Event title:</label>
  <input type="text" class="form-control" id="event_title">
</div>

<div class="form-group">
  <label for="location">Location:</label>
  <input type="text" class="form-control" id="location">
</div>


<div class="form-group">
  <label for="date">Date and Time (24hour format):</label>

<input type="datetime-local" name="date" value="" class="form-control" />


</div>

<div class="form-group">
  <label for="location">Location:</label>
  <input type="text" class="form-control" id="location">
</div>



<div class="form-group">
  <label for="description">Description:</label>
  <textarea class="form-control" rows="10" id="description"></textarea>
</div>

<button type="button" class="btn btn-primary btn-lg">Create!</button>

{% endblock %}
