{% extends 'eventhub/base.html' %}
{% load staticfiles %}



{% block body_block %}

<div> {% if date %}
	{% block title_block %}
		{{ date.name }}
	{% endblock %}
			{% if events %}

		<ul> {%for event in events %}
			<li><a href="/eventhub/event/{{ event.slug }}">{{ event.picture }}</a> </li>
			<li><a href="/eventhub/event/{{ event.slug }}">{{ event.title }}</a></li>
			<li><a href="/eventhub/event/{{ event.slug }}">{{ event.description }}</a></li>
			 {% endfor %}
		</ul>
		 {% else %} <strong>There are no events present.</strong>
		 {% endif %}
</div>



{% endblock %}
