{% extends 'eventhub/base.html' %}
{% load staticfiles %}



{% block body_block %}
<script type="text/javascript" src="{% static 'js/likeHandler.js' %}"></script>
<div class="panel panel-default">
	{% if event %}
		<div class="panel-heading"><h2>{{ event.title }}</h2></div>
		<div class="panel-body">
		<div id="map" style="float: right;"><iframe width="300" height="250" frameborder="0" style="border:0" src="{{pos}}" allowfullscreen></iframe></div>

    {{ event.datetime }}<br/>
  	{{ event.loc }}<br/>
		Made by {{ event.creator }}<br/>
		<div class="panel panel-default" style="width: 50%; height: 15em;">
		<div class="panel-heading">Description</div>
		{{ event.desc }}
		</div>
		<div class='row'>
		{% if user.is_authenticated %}
			{% autoescape off %}{{button}}{% endautoescape %}
		{% endif %}
		{% if isCreator %}
			<button type="button" class="btn btn-primary btn-lg">Delete</button>
		{% endif %}
		</div>
		 {% else %} <strong>There is  no such event.</strong>
		 {% endif %}
	 </div>
</div>



{% endblock %}
