{% extends 'eventhub/base.html' %}
{% load staticfiles %}



{% block body_block %}

<div> {% if event %}
	{% block title_block %}
		<h2>{{ event.title }}</h2>
	{% endblock %}

		<div id="map" style="width:400px;height:400px;">{{event}}</div>

		<ul>
      <li>{{ event.date }}</a></li>
      <li>{{ event.loc }}</a></li>
			<li>{{ event.time }}</a></li>
			{% if user.is_authenticated %}
				<button type="button" class="btn btn-primary btn-lg">Delete</button>
			{% endif %}
		</ul>
		 {% else %} <strong>There is  no such event.</strong>
		 {% endif %}
</div>



{% endblock %}
