{% extends 'eventhub/base.html' %}
{% load staticfiles %}



{% block body_block %}

<div class="panel panel default">
  <div class="panel-heading"><h4>Music</h4></div>
  <div class="panel-body">
    <div class="row">
      {% for e in events.music %}
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading" style="min-height: 6em;">
              <h4>{{e.title}}</h4>
            </div>
            <div class="panel-body">
              <a href="eventhub/event/{{e.id}}" class="btn btn-primary">Info</a>
              <p style="float: right;">{{e.datetime}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="panel panel default">
  <div class="panel-heading"><h4>Business</h4></div>
  <div class="panel-body">
    <div class="row">
      {% for e in events.business %}
      <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading" style="min-height: 6em;">
            <h4>{{e.title}}</h4>
          </div>
          <div class="panel-body">
            <a href="eventhub/event/{{e.id}}" class="btn btn-primary">Info</a>
            <p style="float: right;">{{e.datetime}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="panel panel default">
  <div class="panel-heading"><h4>Social</h4></div>
  <div class="panel-body">
    <div class="row">
      {% for e in events.social %}
      <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading" style="min-height: 6em;">
            <h4>{{e.title}}</h4>
          </div>
          <div class="panel-body">
            <a href="eventhub/event/{{e.id}}" class="btn btn-primary">Info</a>
            <p style="float: right;">{{e.datetime}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
