{% extends 'eventhub/base.html' %}
{% load staticfiles %}



<!-->create/edit/delete event <-->


<button type="button" class="btn btn-primary btn-lg">Create Event</button>

<div>
  <h1>My Events</h1>
   {% if userevent %}
    	{% block title_block %}
    		  {{ userevent.name }}
    	{% endblock %}

      <div class="card" style="width: 20rem;">{%for event in content[events] %}
      <img class="card-img-top" src="/static/{{event.picture}}" alt="Card image cap">
          <div class="card-block">
              <h4 class="card-title"><a href="/eventhub/event/{{ event.slug }}">{{ event.title }}</a></h4>
              <a href="/eventhub/event/{{ event.slug }}" class="btn btn-primary">Go to event page</a>
          </div>
      </div>{% end for %}<!-->events the user created, all events, each event needs a picture and title<-->

		 {% else %} <strong>There are no events present.</strong>
	 {% endif %}
</div>












{% endblock %}
