{% extends 'eventhub/base.html' %}
{% load staticfiles %}

<button type="button" class="btn btn-primary btn-lg">Create Event</button>
{% block body_block %}
<div>
  <h1>Profile</h1>
  <h4>{{user}}</h4>
  <h4>{{user.email}}</h4>
{% if events %}
  <div class="panel panel default">
    <div class="panel-heading"><h3>Your Events</h3></div>
    <div class="panel-body">
      <div class="row">
        {% for e in events %}
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading" style="min-height: 6em;">
              <h4>{{e.title}}</h4>
            </div>
            <div class="panel-body">
              <a href="eventhub/event/{{e.id}}" class="btn btn-primary">Info</a>
              <p style="float: right;">{{e.datetime}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <h4>You have no events to show. Click <a href="/eventhub/create_event">create event</a> to get started!</h4>
{% endif %}
</div>
{% endblock %}
