{% extends 'eventhub/base.html' %}
{% load staticfiles %}



{% block body_block %}

<div> {% if location %}

    	{% block title_block %}
    		  {{ location.name }}
    	{% endblock %}

			{% if events %}

		<ul> {%for event in events %}
			<li><a href="/eventhub/event/{{ event.slug }}">{{ event.picture }}</a> </li>
			<li><a href="/eventhub/event/{{ event.slug }}">{{ event.title }}</a></li>
			<li><a href="/eventhub/event/{{ event.slug }}">{{ event.description }}</a></li>
			 {% endfor %}
		</ul>

		 {% endif %}
      {% else %} <strong>There are no events present.</strong>
    {% endif %}
</div>





<ul class="pagination">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
</ul>
{% endblock %}
