body {
  background-color: #eeeeee;
}

#header {
  color: white;
}

#container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;


}

#content {
  background-color: #eeeeee;

}

#leftsidebar, #rightsidebar, #main{
  background-color: white;
  border-style: solid;
  padding: 10px;
  border-color: #eeeeee;
  width: 20%;
  float: left;
  height:500px;
}



#main{
  width: 60%;
}

#footer {
  clear:both;
  padding-top: 17px;
}
